<body>
    <nav class="navbar" style="background-color: rgba(30, 27, 219, 0.226)">
        <div class="container">
            container of my navbar 
        </div>
    </nav>

    <header style="background-color:chartreuse " >
        <div class="container" style="height: 5em">
            container of header
        </div>
    </header>

    <section style="background-color: darkcyan" id="breadcumb">
        <div class="container">
            container of section
        </div>
    </section>

    <!-- the big section-->

    <section>
        <div class="row">
            <div class="container">
                    <div class="col-md-3" style="background-color: darkmagenta">
                        <div class="list-group">
                            <a href="" class="list-group-item"> list-group-item active </a>
                            <a href="" class="list-group-item"> list-group-item  </a>
                            <a href="" class="list-group-item"> list-group-item  </a>
                            <a href="" class="list-group-item"> list-group-item  </a>
                        </div>
                    <div class="well">
                        that's a well
                    </div>
                    </div>


                    <col-md-9 class="col-md-9" style="background-color: darkred"> col-md-9 
                        <div class="panel panel-default"> panel panel-default 1 </div>
                        <div class="panel panel-default"> panel panel-default 2 </div>
                    </col-md-9>
            </div>
        </div>
    </section>

</body>