
                <div class="alert alert-info" role="alert">
                    <p> <%= answer.user.name %> </p>
                    <%= answer.updated_at %>
                    <p class="dl" > <%= answer.content %> </p>    
                </div>

