
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% Type.all.each do |type| %>
              <li class=" <%  'active' if params[:type] == type.name %> " > 
                <%= link_to type.name, pubs_path(type: type.name), class: "link" %>
              </li>
            <% end %>
          </ul>
        </li>

<% if user_signed_in? %>
<% @pubs.each do |pub| %>
    <div class="card">
            <div class="card-header">
                <%= link_to "show", pub_path(pub) %>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p> <%= pub.content %> </p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
              </blockquote>
            </div>
    </div>
<% end %>
<%= link_to "Publish Something", new_pub_path %>
<% else %>
  <h2> Please Sign in to see what other learners are sharing ... </h2>
<% end %>

